@page "/termin/view"

@using TerminiWeb.Infrastructure.TerminService.Dtos
@using GrabaUIPackage.Components.Common

<div class="modal-header">
	<button type="button" class="close-button" @onclick="() => Close()">
		<span>&times;</span>
	</button>
</div>
